.zavant {
  overflow: hidden;
}

.zavant__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.zavant__item > .zavant__menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
}

.zavant__next[aria-expanded='false'] + .zavant__menu {
  visibility: hidden;
}
