/* .vitepress/theme/custom.css */
:root {
  --main-color: #4831d4;
  --light-color: #604ed4;
  --highlight-color: #ccf381;

  --vp-c-brand: var(--main-color);
  --vp-c-brand-light: var(--light-color);

  /* Home */
  --vp-home-hero-name-background: linear-gradient(
    90deg,
    var(--main-color) 60%,
    var(--highlight-color)
  );
  --vp-home-hero-name-color: transparent;

  /*Buttons*/
  --vp-button-brand-bg: var(--light-color);
  --vp-button-brand-border: var(--light-color);
  --vp-button-brand-text: #fff;
  --vp-button-brand-hover-bg: var(--main-color);
  --vp-button-brand-hover-border: var(--highlight-color);
  --vp-button-brand-hover-text: var(--highlight-color);
}

.dark body {
  /*Body*/
  --vp-c-bg: #1c1c1c;
}

.dark .VPNav.no-sidebar {
  background-color: transparent !important;
}
